<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.gogoal.im">

    <uses-permission android:name="android.permission.CALL_PHONE" />


    <!-- LeanCloud基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->


    <!-- 阿里云播放器 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 阿里云推流 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块 END -->

        <!-- 配置SDK核心服务 -->
        <service
            android:name=".servise.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />

        <service android:name=".servise.IntentService" />

        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TakePhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/TranslucentTheme" />

        <activity
            android:name=".activity.FunctionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SquareChatRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SingleChatRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.IMRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity android:name=".activity.DemoActivity" />

        <activity
            android:name="cn.gogoal.im.activity.IMAddFriendActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.gogoal.im.activity.IMNewFrienActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.gogoal.im.activity.IMPersonDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.gogoal.im.activity.SearchPersonSquareActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.gogoal.im.activity.SquareCollectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.gogoal.im.activity.IMPersonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="cn.gogoal.im.activity.IMSquareChatSetActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.SearchActivity">

        </activity>

        <activity android:name="cn.gogoal.im.wxapi.WXPayEntryActivity" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity android:name=".activity.stock.MarketActivity" />

        <activity android:name=".activity.PdfDisplayActivity" />

        <activity
            android:name=".activity.ChooseContactActivity"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".activity.TestActivity"
            android:theme="@style/TranslucentTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

    </application>

</manifest>