<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.gogoal.im">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- LeanCloud基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->


    <!-- 阿里云播放器 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 阿里云推流 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 连麦功能所需权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- release时可去掉 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 获取联系人列表 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".base.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService" />

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.pushReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.avos.UPDATE_STATUS" />
                <action android:name="com.gogoal.action" />
            </intent-filter>
        </receiver>
        <!-- 实时通信模块 END -->

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- authorities="你的包名+fileprovider" -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cn.gogoal.im.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".activity.TypeLoginActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".servise.AppBackServise"
            android:exported="false" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.RigisterActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.EditPersonInfoActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.TakePhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.FunctionActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SquareChatRoomActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SingleChatRoomActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.IMRegisterActivity" />
        <activity
            android:name=".activity.ChatRoomActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.DemoActivity" />
        <activity android:name=".activity.IMNewFriendActivity" />
        <activity android:name=".activity.IMPersonDetailActivity" />
        <activity
            android:name=".activity.SearchPersonSquareActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.MyGroupsActivity" />
        <activity android:name=".activity.OfficialAccountsActivity" />
        <activity android:name=".activity.EditSquareBriefActivity" />
        <activity
            android:name=".activity.EditSquareNameActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.IMPersonActivity" />
        <activity android:name=".activity.IMSquareChatSetActivity" />
        <activity android:name=".activity.IMGroupContactsActivity" />
        <activity android:name=".activity.IMSearchLocalActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.SearchMessagesActivity" />
        <activity android:name=".wxapi.WXPayEntryActivity" />
        <activity android:name=".activity.IMAddFriendActivity" />
        <activity android:name=".wxapi.WXEntryActivity" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <activity android:name=".activity.PdfDisplayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".activity.ChooseContactActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.TestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".activity.LiveActivity" />
        <activity
            android:name=".activity.WatchLiveActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.stock.MarketDetialActivity" />
        <activity android:name=".activity.stock.MyStockNewsActivity" />
        <activity android:name=".activity.ContactsActivity" />
        <activity android:name=".activity.stock.EditMyStockActivity" />
        <activity android:name=".activity.stock.StockDetailActivity" />
        <!-- <activity android:name=".activity.Test2Activity"></activity> -->

        <activity android:name=".activity.copy.CopyStockDetailActivity" />
        <activity
            android:name=".activity.copy.StockDetailChartsActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:screenOrientation="landscape" />
        <!--<activity android:name=".activity.copy.CommentActivity" />-->
        <activity
            android:name=".activity.copy.StockDetailMarketIndexActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.copy.StockSearchActivity" />
        <activity android:name=".activity.EditMyInfoActivity" />
        <activity android:name=".activity.ImageDetailActivity" />
        <activity android:name=".activity.CreateLiveActivity" />
        <activity android:name=".activity.AddressActivity" />
        <activity android:name=".activity.SquareCardActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SetStockRefreshActivity" />
        <activity android:name=".activity.KlineSettingActivity" />
        <activity android:name=".activity.SingleEditActivity" />
        <activity android:name=".activity.RedGreenSettingActivity" />
        <activity android:name=".activity.ChangePhoneNumberActivity" />
        <activity android:name=".activity.PhoneContactsActivity" />
        <activity android:name=".activity.stock.StockNewsAllListActivity" />

        <activity android:name=".activity.ShareMessageActivity" />
        <activity android:name=".activity.ScreenActivity" />
        <activity android:name=".activity.ToolsSettingActivity" />
        <activity android:name=".activity.ToolsListActivity" />
        <activity android:name=".activity.MyAdvisersActivity" />
        <activity android:name=".activity.stock.InteractiveInvestorActivity" />
        <activity android:name=".activity.AccountSafeActivity"/>
        <activity android:name=".activity.ChangePasswordActivity"/>
        <activity android:name=".activity.SettingStockActivity"/>
    </application>

</manifest>